[submodule "st"]
	path = st
	url = https://github.com/siduck/st.git
[submodule ".config/lvim"]
	path = .config/lvim
	url = https://github.com/mdube99/lvim.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/mdube99/nvim.git
[submodule "/home/mdube-manjaro/dotfiles/.local/share/zap"]
	path = /home/mdube-manjaro/dotfiles/.local/share/zap
	url = https://github.com/zap-zsh/zap.git
[submodule "tmux/plugins/tmux-logging"]
	path = tmux/plugins/tmux-logging
	url = https://github.com/tmux-plugins/tmux-logging.git
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
